@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .animate-expand {
        animation: expand 0.6s  cubic-bezier(0.34, 1.56, 0.64, 1) forwards ;
    }
}


/* @layer utilities {
    .h-644 {
      height: 644px;
    }
}
     */

/* body{
    background-color: ;
} */


.dir-rtl{direction: rtl;}
.dir-ltr{direction: ltr;}
:root {

    /* colors */
    /* primary*/
    --primary: #005FF0;
    /* blue10*/
    --primary-50: #F2F7FF;
    /* blue9*/
    --primary-100: #E3EDFC;
    /* blue8*/
    --primary-200: #BDE4FC;
    /* blue7*/
    --primary-300: #96D0FA;
    /* blue6*/
    --primary-400: #499CF5;
    /* blue11*/
    --primary-500: #9FEAFF;
    /* blue5*/
    --primary-600: #0053D9;
    /* blue4*/
    --primary-700: #003EB3;
    /* blue3*/
    --primary-800: #002D8F;
    /* blue2*/
    --primary-900: #001E6B;
    /* blue1 */
    --primary-950: #001145;

    --primary-shade-400: #9FEAFF ;



    --secondary: #FFA200;
        /* orange 5 */
        --secondary-100: #FEF3E4;
        /* orange 4 */
        --secondary-200: #FCDAAD;
        /* orange 3 */
        --secondary-300: #FBC176;
        /* orange 2 */
        --secondary-400: #F9A940;
        /* orange 1 */
        --secondary-500: #F79009 ;


        
    /* yellow 1 */
    --secondary-complementary-50: #FFFDF2;
    /* orange 10 */
    --secondary-complementary-100: #FFFAE6;
    /* orange 9 */
    --secondary-complementary-200: #FFF1BF;
    /* orange 8 */
    --secondary-complementary-300: #FFE699;
    /* orange 7 */
    --secondary-complementary-400: #FFC94D;
    /* orange 6 */
    --secondary-complementary-500: #facc15;




    /* green 5 */
    --success-500:#12B76A;
    /* green 4 */
    --success-400:#24E98D;
    /* green 3 */
    --success-300:#63F0AE;
    /* green 2 */
    --success-200:#A1F6CE;
    /* green 1 */
    --success-100:#E0FCEF;

    /* red 5 */
    --error-500:#F04438;
    /* red 4 */
    --error-400:#F36E64;
    /* red 3 */
    --error-300:#F79790;
    /* red 2 */
    --error-200:#FAC1BD;
    /* red 1 */
    --error-100:#FDEAE9;

    /* gray 10 */
    --neutral-50:#F9FBFC;
    /* gray 9 */
    --neutral-100:#F5F8FC;
    /* gray 8 */
    --neutral-200:#F3F3F3;
    /* gray 7 */
    --neutral-300:#E9EFF4;
    /* gray 6 */
    --neutral-400:#E0E6F2;
    /* gray 5 */
    --neutral-500:#DAE4ED;
    /* gray 4 */
    --neutral-600:#D3DEE9;
    /* gray 3 */
    --neutral-700:#CCD9E5;
    /* gray 2 */
    --neutral-800:#C4D3E2;
    /* gray 1 */
    --neutral-900:#BDCEDE;

    /* text color 4 */
    --txtneutral-200:#D3DBE0;
    /* text color 3 */
    --txtneutral-400:#98A2B3;
    /* text color 2 */
    --txtneutral-500:#667085;
    /* text color 1 */
    --txtneutral-900:#101828;

    /* black color */
    --shade-0:#FFFFFF;
    /* white color */
    --shade-100:#0C0C0C;

    --bgfootercategory : '../images/footer-category.jpg';

    --bg-image: #f3f4f6 ;
}


html,body{font-family:"Yekan_Bakh_Regular_fa";direction:rtl}
::-webkit-scrollbar{width:10px;}::-webkit-scrollbar-track{background:var(--primary-50);}
::-webkit-scrollbar-thumb{background:var(--primary-400);border-radius:5px;}
::-webkit-scrollbar-thumb:hover{background:var(--primary-500);}


@font-face{font-display:swap;font-family:'Yekan_Bakh_Bold_fa';font-style:normal;src:url('../fonts/YekanBakhFaNum-Bold.ttf') format('truetype'),url(../fonts/YekanBakhFaNum-Bold.woff) format('woff')}
@font-face{font-display:swap;font-family:'Yekan_Bakh_SemiBold_fa';font-style:normal;src:url('../fonts/YekanBakhFaNum-SemiBold.ttf') format('truetype'),url(../fonts/YekanBakhFaNum-SemiBold.woff) format('woff')}
@font-face{font-display:swap;font-family:'Yekan_Bakh_Thin_fa';font-style:normal;src:url('../fonts/YekanBakhFaNum-Thin.ttf') format('truetype'),url(../fonts/YekanBakhFaNum-Thin.woff) format('woff')}
@font-face{font-display:swap;font-family:'Yekan_Bakh_Light_fa';font-style:normal;src:url('../fonts/YekanBakhFaNum-Light.ttf') format('truetype'),url(../fonts/YekanBakhFaNum-Light.woff) format('woff')}
@font-face{font-display:swap;font-family:'Yekan_Bakh_Regular_fa';font-style:normal;src:url('../fonts/YekanBakhFaNum-Regular.ttf') format('truetype'),url(../fonts/YekanBakhFaNum-Regular.woff) format('woff')}

@font-face{font-display:swap;font-family:'Yekan_Bakh_Bold';font-style:normal;src:url('../fonts/YekanBakh-Bold.ttf') format('truetype'),url(../fonts/YekanBakh-Bold.woff) format('woff')}
@font-face{font-display:swap;font-family:'Yekan_Bakh_SemiBold';font-style:normal;src:url('../fonts/YekanBakh-SemiBold.ttf') format('truetype'),url(../fonts/YekanBakh-SemiBold.woff) format('woff')}
@font-face{font-display:swap;font-family:'Yekan_Bakh_Thin';font-style:normal;src:url('../fonts/YekanBakh-Thin.ttf') format('truetype'),url(../fonts/YekanBakh-Thin.woff) format('woff')}
@font-face{font-display:swap;font-family:'Yekan_Bakh_Light';font-style:normal;src:url('../fonts/YekanBakh-Light.ttf') format('truetype'),url(../fonts/YekanBakh-Light.woff) format('woff')}
@font-face{font-display:swap;font-family:'Yekan_Bakh_Regular';font-style:normal;src:url('../fonts/YekanBakh-Regular.ttf') format('truetype'),url(../fonts/YekanBakh-Regular.woff) format('woff')}
    
@font-face{font-display:swap;font-family:'MontserratAlternates-Bold';font-style:normal;src:url('../fonts/MontserratAlternates-Bold.ttf') format('truetype')}

@font-face{font-display:swap;font-family:'IRANYekanRegularMobile-fa';font-style:normal;src:url('../fonts/IRANYekanLightMobile\(FaNum\).ttf') format('truetype')}
@font-face{font-display:swap;font-family:'IRANYekanRegular-fa';font-style:normal;src:url('../fonts/IRANYekanRegular\(FaNum\).ttf') format('truetype')}
@font-face{font-display:swap;font-family:'IRANYekanMobileBold-fa';font-style:normal;src:url('../fonts/IRANYekanMobileBold\(FaNum\).ttf') format('truetype')}
@font-face{font-display:swap;font-family:'IRANYekanLightMobile-fa';font-style:normal;src:url('../fonts/IRANYekanLightMobile\(FaNum\).ttf') format('truetype')}

.active-menu-item{color:var(--shade-100)!important;}
.active-megamenu-tab span{transition:all;animation-duration:.5s;transform:scale(110%)!important;color:var(--shade-100)!important;
    transform-origin:center!important;display:inline-block}
.active-megamenu-tab::after , .active-menu-item::after{display: block !important;}
.active-megamenu-tab .enable-icon{display: inline-block !important;}
.active-megamenu-tab .disable-icon{display: none !important;}

/* .drop-footer{box-shadow: 0px -1px 20px rgba(0, 95, 240, 0.33);} */


@keyframes expandtel {
    0% {
        width: 20px;
        height: 20px;
        left: 0;
    }
    50% {
        width: 105%;
        height: 100%;
        left: 0;
        border-radius: 16px;
    }
    100% {
        width: 100%;
        height: 100%;
        left: 0;
        border-radius: 16px;
        background-color: var(--primary); /* آبی بمونه */
    }
}

@keyframes contracttel {
    0% {
        width: 100%;
        height: 100%;
        left: 0.25rem;
        background-color: var(--primary); /* اول آبی بمونه */
    }
    50% {
        width: 105%;
        height: 100%;
        border-radius: 16px;
        left: 0.75rem;

        background-color: var(--primary);
    }
    100% {
        width: 43px;
        height: 43px;
        border-radius: 6px;
        left: 1.25rem;

        background-color: var(--primary); /* برگرده به رنگ اولیه */
    }
}

@keyframes expandemail {
    0% {
        width: 20px;
        height: 20px;
        left: 0;
    }
    50% {
        width: 105%;
        height: 100%;
        left: 0;
        border-radius: 16px;
    }
    100% {
        width: 100%;
        height: 100%;
        left: 0;
        border-radius: 16px;
        background-color: var(--primary); /* آبی بمونه */
    }
}

@keyframes contractemail {
    0% {
        width: 100%;
        height: 100%;
        left: 10%;
        background-color: var(--primary); /* اول آبی بمونه */
    }
    50% {
        width: 105%;
        height: 100%;
        border-radius: 16px;
        left: 5%;

        background-color: var(--primary);
    }
    100% {
        width: 43px;
        height: 43px;
        border-radius: 6px;
        left: 30%;

        background-color: var(--primary); /* برگرده به رنگ اولیه */
    }
}

.group\/telbutton:hover .telbutton {
    animation: expandtel 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
.group\/telbutton:not(:hover) .telbutton {
    animation: contracttel 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.group\/emailbutton:hover .emailbutton {
    animation: expandemail 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
.group\/emailbutton:not(:hover) .emailbutton {
    animation: contractemail 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

 /* .swiper-papulartourcard */
 
 .swiper-scrollbar-drag {
    background: var(--primary)!important;
    width: 8px !important;
    border-radius: 10px !important;
    right: -3px !important;
    /* height: 36px !important; */
}

 .swiper-papulartourcard .swiper-slide-active .papulartours-image{
    display: block !important;

}


.bg-footer-texture {
    background-image: url('../images/footer-category.jpg');
}

/* 
.group\/tourism-magazine-card svg path {
    fill: white;
} */

.faq-active span{clip-path: polygon(0 0, 0% 100%, 100% 0); background-color: var(--primary-100);width: 927px; height: 64px;}  


        /* 🔹 انیمیشن لرزش (Pulse) */
        @keyframes pulse {
            0% { transform: scale(1); opacity: 0.9; }
            50% { transform: scale(1.05); opacity: 1; }
            100% { transform: scale(1); opacity: 0.9; }
        }

        /* 🔹 افکت Glow هنگام پخش */
        .playing {
            animation: pulse 1.2s infinite ease-in-out;
            /* box-shadow: 0px 0px 15px rgba(59, 130, 246, 0.8);  */
            border-radius: 8px;
        }

        .collapsed {
            width: 80px !important;
        }
        
        .collapsed ul li a span {
            display: none;
        }
        
        @keyframes bounce-wall {
            0% { 
                border-radius: 50% ;
            }
            60% { 
                height: 190%;
                border-radius: 10% ;
            }
            80% { 
                height: 185%;
                border-radius: 0 ;
            }
            100% { 
                height: 190%;
                border-radius: 0 ;
            }
        }
        .group:hover .group-hover\:animate-bounce-wall {
            animation: bounce-wall 1s forwards;
        }

        @keyframes bounce-text {
            0% { 
            }
            90% { 
                text-align: 50%; }
            95% { 
                height: 55%; }
            100% { 
                height: 50%; }
        }
        .group:hover .group-hover\:animate-bounce-text {
            animation: bounce-text 0.6s forwards;
        }
        .group:not(:hover) .group-hover\:animate-bounce-text {
            animation: bounce-text 0.4s ease reverse;
        }
          